@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    /*--font-sans: var(--font-geist-sans);*/
    /*--font-mono: var(--font-geist-mono);*/
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #ededed;
        --background: #0a0a0a;
    }
}


.form-container {
    @apply mb-2 w-full;
}

.label {
    @apply block mb-2 text-sm font-medium text-gray-900 ;
}

.label-invalid {
    @apply block mb-2 text-sm font-medium text-red-700;
}

.input {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block min-w-60 w-full p-2.5;
}

.invalid-input {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500  focus:border-red-500 block w-full p-2.5;
}

.error-message {
    @apply text-red-900 mb-2;
}

.btn {
    @apply cursor-pointer text-white bg-gray-800 hover:bg-gray-950 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
}

